<!-- file: templates/add.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add a Pet for Adoption</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <h1>Add Your Pet for Adoption</h1>
    <form action="{{ url_for('add_animal') }}" method="post">
      <input type="text" name="nom" placeholder="Name" required />
      <input type="text" name="espece" placeholder="Species" required />
      <input type="text" name="race" placeholder="Breed" required />
      <input type="number" name="age" placeholder="Age" required />
      <textarea
        name="description"
        placeholder="Description"
        required
      ></textarea>
      <input
        type="email"
        name="courriel"
        placeholder="Owner's Email"
        required
      />
      <input type="text" name="adresse" placeholder="Address" required />
      <input type="text" name="ville" placeholder="City" required />
      <input type="text" name="cp" placeholder="Postal Code" required />
      <button type="submit">Submit</button>
    </form>
    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
